<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            html {
				background-color: #202225;
				height: 100%;
				width: 100%;
			}

			body {
    			background-color: #36393F;
				min-height: 60%;
				max-width: 1000px;
				display: block;
    			margin: 0 auto;
				padding: 10% 0;
                text-align: center;
			}

			p, h1, h2 {
    			color: white;
			}

			h1 {
				font-size: 3vw;
			}

			h2 {
				font-size: 2vw;
			}

			p {
				font-size: 1.2vw;
			}

			a {
				color: rgb(207, 207, 207);
				text-decoration: none;
			}
        </style>
    </head>
    {{{body}}}
</html>