<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Duraken 3D Printing"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Duraken - {{{title}}}</title>
		{{#ifCond stage ">" 1}}
			{{#each styles}}
		<link rel="stylesheet" href="{{this}}">
			{{/each}}
		{{/ifCond}}
		<link rel="icon" href="/images/logos/duraken-logo-small.png"/>

		{{#ifCond stage ">" 1}}
		<style>
			html {
				background-color: #202225;
				height: 100%;
				width: 100%;
			}

			body {
    			background-color: #36393F;
				min-height: 100%;
				max-width: 1000px;
				display: block;
    			margin: 0 auto;
			}

			.header {
				color: darkblue;
			}

			p {
    			color: white;
			}

			a {
				color: white;
				text-decoration: none;
			}
		</style>
		{{/ifCond}}
	</head>
	<body>
		<header>
			<img src="/images/logos/duraken-logo-large.png" alt="Duraken 3D Printing" id="banner">
		</header>
	
		<nav>
			<p class="header"><a href="home">Home</a> | <a href="about">About</a> | <a href="products">Products </a> | <a href="services">Services</a> | <a href="contact">Contact</a></p>
			<hr />
		</nav>

        {{{body}}}
    </body>

	{{#ifCond stage ">" 3}}
		{{#each scripts}}
	<script src="{{this}}" type="text/javascript"></script>
		{{/each}}
	{{/ifCond}}

	<footer>
		<hr />
		<p {{#ifCond stage ">" 1}} style="color: darkblue;" {{/ifCond}}>&copy; Copyright 2019: Duraken 3D Printing</p>
	</footer>
</html>