<img src="/images/3d-printer.jpg" alt="placeholder image" {{#ifCond stage ">" 1}} style="width: 30%;" {{/ifCond}}>
<div {{#ifCond stage ">" 1}} style="float: right; width: 69%;" {{/ifCond}}>
    <p>We are your one stop for 3D printing. We take pride in our craft by providing CAD design, manufacturing and a 3D print shop all in one spot. We are a Michigan company with a mission to provide the best customer service with a fast turn around time.</p>
</div>