<head>
	<title>Kevin Gyorick</title>
</head>
<body>
	<h1>AS04</h1>
	<p><a href="/as04/home" target="_blank">As04</a>: Site Builder</p>
	<p><a href="/as04/quiz" target="_blank">Quiz</a>: javascript quiz </p>
	<p><a href="/as04/quiz/chart" target="_blank">Quiz NS-Chart</a>: NS-Chart for the javascript quiz </p>
	<br>
	<h2>Short Essay</h2>
	<div style="text-align: left; margin: auto 5%;">
		<p style="text-indent: 30px;">HTML only was quick to do but was ugly. HTML and CSS looked better than HTML only but using a site builder was faster and looked better. There is a lot to learn when it comes to CSS, while the site builder gives you a user interface that makes it easy to learn and they'll even give you a tour of the interface. Bootstrap took the longest but you keep full control over the code of your site and it looked better than HTML and CSS. I really like all the neat CSS classes that bootstrap has to offer but finding which class to use is difficult. The site builder made the best looking site. The site builder was fast, and featureful setting up a blog, an Instagram feed and I can easily enable payments and have a fully running online shop in less than half an hour. But I lost control over the code of my site. I would also have to use them as my web provider. I cannot make my own back end with the site builder but could make a backend API. Site builders only have so many templates to choose from resulting in everyone's sites looking the same.</p>
	</div>
</body>