<head>
	<title>Kevin Gyorick</title>
</head>
<body>
	<h1>Kevin Gyorick's Home Page</h1>
	<p><a href="https://gitlab.com/everythingguy/hw.duraken.com" target="_blank">View Source Code</a></p>
	<p><a href="/as01/home" target="_blank">As01</a>: 5-page brochure style site: HTML-only</p>
	<p><a href="/as02/home" target="_blank">As02</a>: 5-page brochure style site: HTML-CSS-only </p>
	<p><a href="/as03/home" target="_blank">As03</a>: 5-page brochure style site: Bootstrap </p>
	<p><a href="/as04" target="_blank">As04</a>: 5-page brochure style site: Builder/WordPress, HTML/CSS/JS, plus diagrams</li>
	<p><a href="/as05/home" target="_blank">As05</a>: Web app: JS-only</p>
	<p><a href="/as06/home" target="_blank">As06</a>: Web app: jQuery / Angular</p>
	<p><a href="/chartjs/home" target="_blank">Chart.js</a>: A chart that graphs seats available at SVSU for a given course</p>
	
	<h2>My other work</h2>
	<p><a href="http://kevingyorick.com" target="_blank">My portfolio site</a></p>
	<p><a href="http://ultimatetictactoe.kevingyorick.com" target="_blank">Ultimate Tic Tac Toe Game</a> - only local play works right now</p>
	<p><a href="/blackjack/home" target="_blank">Blackjack</a>: a blackjack game written in java and then translated to javascript</p>
</body>