<main>
	<img src="/images/3d-printing-logo.jpg" alt="placeholder image" {{#ifCond stage ">" 1}} style="display: inline-block; width: 25%;" {{/ifCond}}>
	<div {{#ifCond stage ">" 1}} style="float: right; width: 74%;" {{/ifCond}}>
		<p>Welcome to Duraken 3D Printing. The one stop for all your 3D printing needs. Need something printed one or two times or even a hundred? We are here for you! Need something CAD designed from scratch? We can do that too!</p>	
	</div>
</main>