<div {{#ifCond stage ">" 1}} style="width: 100%;" {{/ifCond}}>
    <div>
        <img src="/images/shop/coaster.jpg" alt="placeholder image">
        <div {{#ifCond stage ">" 1}} style="float: right; width: 74%;" {{/ifCond}}>
            <p>PLA plastic coasters with your logo in any color</p>
            <p>Buy Now</p>
        </div>
    </div>

    <div>
        <img src="/images/shop/lithophane.jpg" alt="placeholder image">
        <div {{#ifCond stage ">" 1}} style="float: right; width: 74%;" {{/ifCond}}>
            <p>PLA plastic lithophane photos in white for the best image detail. Any picture you want embedded in plastic. Put it up to the light to see your photo in incredible detail.</p>
            <p>Buy Now</p>
        </div>
    </div>

    <div>
        <img src="/images/shop/extruder.jpg" alt="placeholder image">
        <div {{#ifCond stage ">" 1}} style="float: right; width: 74%;" {{/ifCond}}>
            <p>Replacement Extruder for 3D Printer</p>
            <p>Buy Now</p>
        </div>
    </div>

    <div>
        <p {{#ifCond stage ">" 1}} style="text-align: center;" {{/ifCond}}>Have a design in mind? Please contact us and make it a reality!</p>
    </div>
</div>