<div {{#ifCond stage ">" 1}} style="width: 100%; height: 100%;" {{/ifCond}}>
    <div {{#ifCond stage ">" 1}} style="width: 100%; height: 25%;" {{/ifCond}}>
        <img src="/images/services/cad.jpg" alt="placeholder image">
        <div {{#ifCond stage ">" 1}} style="float: right; width: 74%;" {{/ifCond}}>
            <p>Need something designed in CAD?</p>
            <p>Contact Us</p>
        </div>
    </div>

    <div {{#ifCond stage ">" 1}} style="width: 100%; height: 25%;" {{/ifCond}}>
        <img src="/images/calibration-cubes.jpg" alt="placeholder image">
        <div {{#ifCond stage ">" 1}} style="float: right; width: 74%;" {{/ifCond}}>
            <p>Need a print mass producted?</p>
            <p>Contact Us</p>
        </div>
    </div>

    <div {{#ifCond stage ">" 1}} style="width: 100%; height: 25%;" {{/ifCond}}>
        <img src="/images/3d-printer.jpg" alt="placeholder image">
        <div {{#ifCond stage ">" 1}} style="float: right; width: 74%;" {{/ifCond}}>
            <p>Need help troubleshooting your 3D printer?</p>
            <p>Contact Us</p>
        </div>
    </div>
</div>